doctype html
html(lang='en', ng-app="trvBudApp")
    head
        title= title
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/jquery-ui.css')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/jquery-ui.js')
        script(async, defer, type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBB42U5SAheKpOjRBAG-yxjp7XBghX2gyM&callback=initMap')
        script(type='text/javascript', src='/js/typeahead.bundle.js')
        script(type='text/javascript', src='/js/main.js')
        script(type='text/javascript', src='/js/main-controller.js')
        
    body(ng-controller="trvBudCtrl")
        nav.navbar.navbar-inverse
            div.container-fluid
                a.navbar-brand(href='#') trvBud
        div.container.col-md-4
            form#addForm(ng-submit="addPlace()")
                input#placeSearch.form-control(type="text", placeholder="Where next?", ng-model="newAdd")                    
                div.input-group    
                    input#date.form-control(type="date", placeholder="Date", ng-model="newDate", date-type="string", date-data-format="mm/dd/yyyy")
                    span.input-group-btn
                        button.btn.btn-default(type="submit", value="Submit") Go!  
            span
                a#help_toggle(data-toggle="collapse", data-target="#help") 
                        i help
            div#help.collapse    
                p
                    Search results return the city with the highest population. Use proper capitalization when searching (ie. "Chicago", not "chicago").
                p
                    For more exact searches, include the two-letter region and city codes (separated by commas)
                p
                    For example, to search Bloomington, IL enter "Bloomington,IL,us"
                    
            li.table.table-striped(ng-repeat="p in places")
                div#names
                    b {{p.name}}
                    span
                        i {{p.arrive}}
                    span.names-icons
                        span.glyphicon.glyphicon-remove(ng-click="rmPlace(p)")
                        span.glyphicon.glyphicon-menu-down(ng-click="moveDown(p)")
                        span.glyphicon.glyphicon-menu-up(ng-click="moveUp(p)")
                    
            button.save_button.btn.btn-sm.btn-success(ng-click="saveTrip()") Save
            button.rm_button.btn.btn-sm.btn-danger(ng-click="rmAll()") Remove All
            span
                div.perm_link
        div.container.col-md-8
            div#googleMap